*{
font-family : 'Oswald',sans-serif;
}
header{
width:100%;
text-align:center;
padding-bottom: 5px;
padding-top: 5px;
background-color: #CCC;
}

nav{
padding : 10px;
background-color: black;
border : 8px solid white;
color : white;
width:97%;
height:30px;
}
.contenant{
vertical-align : top;
display:inline-block;

}

aside{
width:28%;
background-color:gainsboro;
border :8px solid white;
height: 800px;
}

#Bienvenue{
font-weight: bold;
text-align: center;
font-size:high;
padding-top: 10px;
}

section{
width:69%;
background-color:gainsboro;
border :8px solid white;
height: 800px;

}


#Menu {
text-align: center;
font-size: 3em;
margin-bottom : 50px;
font-family : 'Oswald',sans-serif;
}
.lien {
background-color: #6495ED;
padding : 2px;
color: black;
}

.lien2{
	text-align: center;
	margin-bottom: 50px;
}

.lien:hover {
color: white;
}

footer{
background-color: gainsboro;
border :2px solid white;
text-align: right;
font-size :small;
padding-top: 1px;
padding-bottom: 1px;
}

.champ{
padding-left: 10px;
}

.tra {
	border-collapse: collapse ;
	border: 1px solid black;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
    margin-top: 100px;
}

.tra td, .tra th{
	border-collapse: collapse ;
	border: 1px solid black;
	
}



.choix {
padding-top: 20px;
padding-bottom: 20px; 
padding-left: 80px;
}

#Desc {
padding-top: 100px;
}

#formulaire{
padding-top: 100px;
padding-left: 340px;
}

#connexion{
padding-top: 100px;
padding-left: 170px;
}